.card{
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin: 1em;
}

.search-card{
    background-color: rgba(216, 216, 216, 0.74);
    color: #fff;
    border-radius: 2em;
    border: 2px dotted #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 0.5em;
    margin: 0em;
}